.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image:linear-gradient( rgba(202, 87, 87, 0.445), rgba(155, 40, 155, 0.644));
}
